html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

figcaption, footer, header, nav, main, aside, section, canvas, iframe {
  display: block;
}

.header-container {
  background-color: #C4E7E3;
  padding-top: 100px;
  padding-bottom: 50px;
  width:100%;
  text-align: center
}

.footer-container {
  background-color: #C4E7E3;
  padding-top: 50px;
  padding-bottom: 50px;
  width:100%;
  text-align: center
}

p {
   text-align: center;
   color: #3F3F41;
   font-size: 18px;
   font-weight: 100;
}

.feature-container {
  background-color: #E9F6F5;
  width:100%;
}

.feature-container-mobile {
  background-color: #E9F6F5;
  width:100%;
}

.upcoming-container {
  background-color: #FFFFFF;
  width:100%;
}

.upcoming-container-mobile {
  background-color: #FFFFFF;
  width:100%;
}

.featured-table {
  width: 100%;
  padding-top:40px;
}

.footer-barrier {
  max-width: 600px;
  margin-left: auto;
margin-right: auto;
}

.featured-element {
  width: 50%;
}

.featured-right {
  text-align: right;
}

.featured-left {
  text-align: left;
}

.divider {
  display: block;
  width: 120px;
}

.featured-image {
  width: 50%;
}

.row{
  display:flex;
  vertical-align: middle
}
.row>div{
  padding:15px;
}
.text{
  width:80%;
  display: inline-table;
  vertical-align: middle;
  line-height: normal;
}

.text-content {
  display:table-cell;
vertical-align:middle;
}

.text-content > p {
  text-align: left;
}

.footer-elements > p {
  color: #FFFFFF;
    font-size: 14px;
}

.image > img {
  width:50%;
}


.upcoming-image > img {
  width:90%;
}

.featured-table > tbody > tr > td {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  text-align: center;
}

.container {
  max-width: 1440px;
  margin-left: auto;
margin-right: auto;
}


.company-logo {
  width: 150px;
  position: absolute;
  left: 0px;
  padding: 20px;
}

.dots {
  background-image: radial-gradient(#aeeeef 10%, transparent 20%);
background-position: 0 0, 25px 25px;
background-size: 100px 100px;
}

.hero-img {
  width: 100%;
}

.in-img {
  border-radius: 10px;
  width: 180px;
}

.twitter-follow-button {
	padding: 20px;
  text-align: center;
}

h1 {
  color: #083A6A;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 18px;
}

h2 {
	color: #3F3F41;
  text-align: left;
  padding-bottom: 2px;
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: 2px;
  width: 80%;
}

h3 {
  color: #3F3F41;
  text-align: left;
  font-size: 18px;
}

h4 {
	color: #00000;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	display: block;
	line-height: 25px;
  width: 100%;
}

main a.app-store-link {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left !important;
}

body {
  font-size: 1em;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

main {
  color: #3f3f41;
}

.description {
  margin-left: 20px;
  margin-right: 20px;
}

figure {
  text-align: center;
  align-content: center;
  width: 100%;
}

figcaption {
  color: black;
}

.lofive-container {
  position: relative;
  width: 100%;
}

.lofive-container>.hero-img {
  width: 100%;
  height: auto;
}

.mobile-blurb {
  display:block;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 20px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
}

.desktop-blurb {
display:none;
}

a.menu {
  width: 20px;
  margin-top: 10px;
  display: block;
  text-align: center;
  padding: 6px;
  margin: 5px;
  text-decoration: none;
  border-radius: 3px;
  background: lightgray;
  color: #3f3f41;
  font-family: 'Roboto', sans-serif;
}

a.menu:hover {
  background: #3f3f41;
  color: lightgray;
}

nav a:hover {
  background: #3f3f41;
  color: lightgray;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

iframe {
  width: 100%;
}

.fab fa-twitter {
  text-decoration: none;
  background-color: none;
}


.shape {
  width: 10px;
  height: 40px;
  background-color: #3F3F41;
  display: inline-block;
  margin-right: 15px;
}

.inline {
  display: inline-block;
}

.subfooter {
  background: #3F3F41;
  font-weight: bolder;
  color: white;
  margin: 0;
  padding-left: 0px;
  text-align: center;
  width: 100%;
  display: inline-block;

}

.footer-parent {
  display: inline-block;
}

.footer-elements {
  padding: 15px;
  display: inline-block;
  align-items: center;
  font-size: 14px;
}

.footer-elements>a {
  text-decoration: none;
  color: white;
}

.footer-elements>p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-elements>a:hover {
  color: lightgray;
}



footer {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background: #C4E7E3;
  color: white;
  width: 100%;
  text-align: center;
	padding-top: 20px;
  padding-bottom: 20px;
}

footer>p {
  padding-left:: 10px;
  margin: 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.app-store-logo {
  padding-top: 24px;
  width: 200px;
}

.splash {
	background-color: #3AAFA1;
	display: block;
	height: inherit;
	width: 55%;
	position: absolute;
	right: 0px;
	border-radius: 0px 0px 0px 200px;
}

.devices {
	width: 90%;
	position: absolute;
  top: 70px;
	right: 25px;
}

.hero-banner {
		height: 400px;
}

.follow-twitter {
	background-color: #C4E7E3;
	display: block;
	height: 450px;
	width: 100%;
	margin-top: 50px;
  text-align: center
}

h5 {
  color: #3F3F41;
  font-size: 36px;
  padding-bottom: 0px;
  font-weight: bolder;
  line-height: 60px;
  padding-left: 20px;
padding-right: 20px;
}

.follow-text {
  text-align: center;

}


.follow-text > p {
  color: #FFFFFF;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.feature-container {
  display: none;
}
.feature-container-mobile {
  display: block;
}

.upcoming-container {
  display: none;
}
.upcoming-container-mobile {
  display: block;
}

.lofive-logo {
  width: 60%;
}


/* ========================================
MEDIA QUERIES!
======================================== */
/* CSS for tablet sizes.*/
@media all and (min-width: 768px) {
  .feature-container {
    display: block;
  }
  .feature-container-mobile {
    display: none;
  }

  .upcoming-container {
    display: block;
  }
  .upcoming-container-mobile {
    display: none;
  }

  .upcoming-image > img {
    width:100%;
  }

  .featured-table {
    padding-top:0px;
    max-width: 940px;
    margin-left: auto;
  margin-right: auto;
  }

  .image > img {
    width:292px;
  }

  h2 {
    width: 400px;
    font-size: 42px;
    padding-bottom: 10px;
  }

  .lofive-logo {
    width: 336px;
  }

  h1 {
    font-size: 64px;
  }

  p {
     font-size: 24px;
  }

  .featured-table > tbody > tr > td {
    padding-bottom: 75px;
    padding-top: 75px;
  }

  .header-container {
    padding-bottom: 100px;
  }

  h5 {
    font-size: 48px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* closes 768px+ */

/* CSS for phone sizes.*/
@media all and (min-width: 300px) {
  .general-img {
    width: 500px;
    padding: 0px;
  }

  .research-img {
    width: 500px;
  }

  nav {
    width: 200px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  main, nav {
    float: none;
  }
}
/* closes 768px+ */

/* CSS for phone sizes.*/
@media all and (min-width: 768px) {
  .general-img {
    width: 500px;
    padding: 0px;
  }

  .research-img {
    width: 500px;
  }

  nav {
    width: 200px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  main, nav {
    float: none;
  }

	.mobile-blurb {
	display:none;
	}

	.desktop-blurb {
	display:block;
  top: 15%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  margin-left: 100px;

	}

  h3 {
    color: #3F3F41;
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
  }

  h4 {
    color: #00000;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    display: block;
    line-height: 25px;
    width: 40%;
  }

  main a.app-store-link {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left !important;
  }

  .splash {
  	background-color: #3AAFA1;
  	display: block;
  	height: inherit;
  	width: 40%;
  	position: absolute;
  	right: 0px;
  	border-radius: 0px 0px 0px 200px;
  }

  .hero-banner {
  		height: 600px;
      margin-bottom: 80px;
  }

  .company-logo {
    width: 220px;
  	position: absolute;
  	left: 0px;
  	padding: 30px;
  }

  .devices {
  	width: 50%;
  	position: absolute;
    top: 5%;
  	right: 10px;
  }

  .float-left {
    position: absolute;
    left: 10px;
  }

  .float-right {
    position: absolute;
    right: 10px;
  }

  .float-center {
    display: inline-block;
    margin:0 auto;
  }

}

/* CSS for desktop sizes.*/
@media all and (min-width: 1024px) {

  .company-logo {
    width: 20%;
  }

	.footer-elements {
		padding: 30px;
	}

}
/* closes 1024px+ */
