/* Basic CSS resets -- levelling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}


/* Legacy: this will enforce block-level properties to HTML5 elements */
figcaption, footer, header, nav, main, aside, section, canvas, iframe {
	display: block;
}


/* "Mobile first" CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

header {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	padding: 10px;
}

.company-logo {
	width: 50%;
}

.hero-img {
}

h1 {
	color:#3AAFA1;
	text-align: left;
	padding-left: 30px;
	font-weight: bolder;
}

h2 {
	text-align: center;
}

h3 {
	padding: 50px;
}

body {
	/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	font-family: 'Roboto', sans-serif;
}

main {
	color:#3f3f41;
	align-content: center;
	text-align: center;
}

.description {
	margin-left: 20px;
	margin-right: 20px;
}

#container {
	/*
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	*/
}



img {
	/*
    padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	width: 100%;
	*/
}

figure {
	text-align: center;
	align-content: center;
	width: 100%;
}

figcaption {
	color:black;
}

ul{
	list-style: none;
	padding-left: 0px;
}


/*
a {
    display: block;  // or display: inline-block;
    width: auto;  // makes buttons wide if block-level; maybe also % width
    text-align: center;
    padding: 6px;  //  lots of padding
    margin: 5px;  //  increase top and bottom margins
    text-decoration: none;
    border-radius: 3px;  //  a slight-buttonish shape doesn't hurt
	background: lightgray;
	color: #3f3f41;
	font-family: 'Roboto', sans-serif;

}

a:hover {
	background:gray;
	color:white;

}

a.menu {
	width: 20px;
	margin-top: 10px;
}

a.menu:hover {
	background: #3f3f41;
	color:lightgray;
}

nav a:hover{
	background: #3f3f41;
	color:lightgray;
}

*/

nav>ul>li>a {
  display: block;  /* or display: inline-block; */
  width: auto;  /* makes buttons wide if block-level; maybe also % width*/
  text-align: center;
  padding: 6px;  /*  lots of padding*/
  margin: 5px;  /*  increase top and bottom margins*/
  text-decoration: none;
  border-radius: 3px;  /*  a slight-buttonish shape doesn't hurt */
	background: lightgray;
	color: #3f3f41;
	font-family: 'Roboto', sans-serif;
}

nav>ul>li>a:hover {
	background:gray;
	color:white;
}

a.menu {
	width: 20px;
	margin-top: 10px;

	display: block;  /* or display: inline-block; */
	text-align: center;
	padding: 6px;  /*  lots of padding*/
	margin: 5px;  /*  increase top and bottom margins*/
	text-decoration: none;
	border-radius: 3px;  /*  a slight-buttonish shape doesn't hurt */
	background: lightgray;
	color: #3f3f41;
	font-family: 'Roboto', sans-serif;
}

a.menu:hover {
	background: #3f3f41;
	color:lightgray;
}

nav a:hover{
	background: #3f3f41;
	color:lightgray;
}


/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


iframe {
	width:100%;
}

.fab fa-twitter {
	text-decoration: none;
	background-color: none;
}

.your-class {

}

.apple-store-logo{
	display: inherit;
}

.slick-slide img .apple-store-logo
{
    display: ;
}


.shape {
	width: 10px;
	height:50px;
	background-color: lightgray;
}

.inline {
	display: inline-block;
}


.subfooter {
	background: #3AAFA1;
	font-weight: bolder;
	color: white;
	margin: 0;
	align-items: center;
}

.footer-parent {
	width: 100%;
	margin-top: 50px;
}


.footer-elements {
	padding: 30px;
	display: inline-block;
	align-items: center;
	font-size: 14px;

}

.footer-elements > a {
	text-decoration: none;
	color: white;
}


footer {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background:lightgray;
	color: black;
	width:100%;
	text-align: center;

}

footer>p {
	padding: 10px;
	margin: 0;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */





.app-store-logo {
	width: 200px;
}


/* ========================================
MEDIA QUERIES!
======================================== */

/* New CSS for tablet sizes.
You can change the pixel number below */
@media all and (min-width: 768px) {


	#container {
		/*
		max-width:750;
		margin-left: 80px;
		margin-right: 80px;
		margin-top: 10px;
		*/
	}

	.general-img {
		width: 500px;
		padding: 0px;
	}

	.research-img {
		width: 500px;
	}


	.company-logo {
		width: 25%;
	}

	nav{
		width:200px;
		float:left;
		position:absolute;
		top:0px;
		left:0px;
	}

	main,nav {
		float:none;
	}



	img {
	/*
    padding: 10px 10px 10px 10px;
	margin-bottom: 10px;

	align-content: center;
	width: 50%;
		*/
	}

	.description {
		margin-left: 100px;
		margin-right: 100px;
	}



} /* closes 768px+ */


/* New CSS for phone sizes.
You can change the pixel number below */
@media all and (min-width: 300px) {


	#container {
		/*
		max-width:300;
		margin-left: 80px;
		margin-right: 80px;
		margin-top: 10px;
		*/
	}


	.general-img {
		width: 500px;
		padding: 0px;
	}

	.research-img {
		width: 500px;
	}

	nav{
		width:200px;
		float:left;
		position:absolute;
		top:0px;
		left:0px;
	}

	main,nav {
		float:none;
	}

	img {
	align-content: center;
	width: 100%;
	}

} /* closes 768px+ */



/* New CSS for desktop sizes.
You can change the pixel number below */
@media all and (min-width: 1024px) {


	img {
	width:100%;

	}

	.company-logo {
		width: 25%;
	}

	header {
		padding: 20px;
	}




} /* closes 1024px+ */
