html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

figcaption, footer, header, nav, main, aside, section, canvas, iframe {
  display: block;
}

.company-logo {
  width: 35%;
	position: absolute;
	left: 0px;
	margin: 20px;
}

.hero-img {
  width: 100%;
}

.in-img {
  border-radius: 10px;
  width: 180px;
}

.twitter-follow-button {
	padding: 20px;
	position: absolute;
	right:0px;
	padding: 20px;

}

h1 {
  color: #3F3F41;
  text-align: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  font-weight: bolder;
  border-left: 8px solid #3AAFA1;
}

h2 {
	color: #3AAFA1;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  font-weight: bolder;
}

h3 {
	color: #3AAFA1;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	display: block;
	line-height: 50px;
  margin-bottom: 10px;

  width: 100%;
}

h4 {
	color: #00000;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	display: block;
	line-height: 25px;
  width: 100%;
}

main a.app-store-link {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left !important;
}

body {
  font-size: 1em;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;
}

p {
	text-align: left;
}

main {
  color: #3f3f41;
}

.description {
  margin-left: 20px;
  margin-right: 20px;
}

figure {
  text-align: center;
  align-content: center;
  width: 100%;
}

figcaption {
  color: black;
}

.lofive-container {
  position: relative;
  width: 100%;
}

.lofive-container>.hero-img {
  width: 100%;
  height: auto;
}

.mobile-blurb {
display:block;
margin: 20px;
text-align: center;
}

.desktop-blurb {
display:none;
}

a.menu {
  width: 20px;
  margin-top: 10px;
  display: block;
  text-align: center;
  padding: 6px;
  margin: 5px;
  text-decoration: none;
  border-radius: 3px;
  background: lightgray;
  color: #3f3f41;
  font-family: 'Roboto', sans-serif;
}

a.menu:hover {
  background: #3f3f41;
  color: lightgray;
}

nav a:hover {
  background: #3f3f41;
  color: lightgray;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

iframe {
  width: 100%;
}

.fab fa-twitter {
  text-decoration: none;
  background-color: none;
}


.shape {
  width: 10px;
  height: 40px;
  background-color: #3F3F41;
  display: inline-block;
  margin-right: 15px;
}

.inline {
  display: inline-block;
}

.subfooter {
  background: #3F3F41;
  font-weight: bolder;
  color: white;
  margin: 0;
  align-items: center;
}

.footer-parent {
  width: 100%;
}

.footer-elements {
  padding: 15px;
  display: inline-block;
  align-items: center;
  font-size: 14px;
}

.footer-elements>a {
  text-decoration: none;
  color: white;
}

.footer-elements>a:hover {
  color: lightgray;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background: #3F3F41;
  color: white;
  width: 100%;
  text-align: center;
	padding: 20px;
}

footer>p {
  padding-left:: 10px;
  margin: 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.app-store-logo {
  width: 200px;
}

.splash {
	background-color: #3AAFA1;
	display: block;
	height: inherit;
	width: 55%;
	position: absolute;
	right: 0px;
	border-radius: 0px 0px 0px 200px;
}

.hero-banner {
		height: 400px;
}

.follow-twitter {
	background-color: #3AAFA1;
	display: block;
	height: 300px;
	width: 100%;
	border-radius: 0px 200px 0px 0px;
	margin-top: 50px;
}


/* ========================================
MEDIA QUERIES!
======================================== */
/* CSS for tablet sizes.*/
@media all and (min-width: 768px) {
  .general-img {
    width: 500px;
    padding: 0px;
  }

  .research-img {
    width: 500px;
  }

  .company-logo {
    width: 25%;
  }

	.footer-elements {
	  padding: 30px;
	}

  nav {
    width: 200px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  main, nav {
    float: none;
  }

  .description {
    margin-left: 100px;
    margin-right: 100px;
  }
}
/* closes 768px+ */

/* CSS for phone sizes.*/
@media all and (min-width: 300px) {
  .general-img {
    width: 500px;
    padding: 0px;
  }

  .research-img {
    width: 500px;
  }

  nav {
    width: 200px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  main, nav {
    float: none;
  }

  img {
    align-content: center;
    width: 100%;
  }
	.mobile-blurb {
	display:block;
	}

	.desktop-blurb {
	display:none;
	}

}
/* closes 768px+ */

/* CSS for phone sizes.*/
@media all and (min-width: 768px) {
  .general-img {
    width: 500px;
    padding: 0px;
  }

  .research-img {
    width: 500px;
  }

  nav {
    width: 200px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  main, nav {
    float: none;
  }

  img {
    align-content: center;
    width: 100%;
  }
	.mobile-blurb {
	display:none;
	}

	.desktop-blurb {
	display:block;
  top: 15%;
  margin: 10px;
  position: absolute;
  margin-left: 100px;

	}

  h3 {
    color: #3AAFA1;
    text-align: left;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    width: 40%;
    margin-bottom: 10px;
  }

  h4 {
    color: #00000;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    display: block;
    line-height: 25px;
    width: 40%;
  }

  main a.app-store-link {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: left !important;
  }

  .splash {
  	background-color: #3AAFA1;
  	display: block;
  	height: inherit;
  	width: 40%;
  	position: absolute;
  	right: 0px;
  	border-radius: 0px 0px 0px 200px;
  }

  .hero-banner {
  		height: 600px;
  }

  .company-logo {
    width: 50%;
  	position: absolute;
  	left: 0px;
  	padding: 30px;
  }


}

/* CSS for desktop sizes.*/
@media all and (min-width: 1024px) {
  img {
    width: 100%;
  }

  .company-logo {
    width: 20%;
  }

	.footer-elements {
		padding: 30px;
	}
}
/* closes 1024px+ */
